<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cat Clicker</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>
<body>
  <script type="text/template" class="template" id="button">
    <li>
      <button><%- cat.name %></button>
    </li>
  </script>
  <script type="text/template" class="template" id="panel">
		<div><span class="counter"><%- cat.counter %></span> clicks</div>
   	<img class="clicker" src="<%- cat.image %>" />
  </script>
  <ul id="buttons"></ul>
  <div id="cat"></div>
</body>
</html>
<script src="app.js"></script>
